{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <h2>{{ 'home.title' | trans }}</h2>
    <section class="card_section">
        {% for product in products %}
    
        <div class="card">
                    <h3>{{ product.name }}</h3>
                    <div class="product_description">
                    <p>{{ product.description|raw|striptags  }}</p>
                    <p class="price">{{ product.price }} €</p>
                    <p>{{ product.stock }} qté</p>
                    <p><img src="{{asset('/uploads/'~ product.image) }}" style="max-width: 200px; max-height: 200px"></p>
                    </div>
                    <p><a href="{{ path('show', {'id': product.id}) }}" class="btn btn-primary">{{ 'More' | trans }}</a></p>
        </div>         
   
        {% endfor %}
         </section>

        <footer>
        <section class="contact">
        <p>Contact : justine.patisserie@gmail.com</p>
        <p>+(33) 07 54 83 92 03</p>
        </section>

        <section class="social_networks">
            <ul>

                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </ul>
            <p>Copyright 2023 ©JustineYang</p>
        </section>
        </footer>
{% endblock %}


