{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>{{'home.title' |trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Description' | trans }}</th>
                <th>{{ 'Price' | trans }}</th>
                <th>{{ 'Image' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description|raw|striptags }}</td>
                <td>{{ product.price }} €</td>
                <td><img src="{{asset('/uploads/'~ product.image) }}" style="max-width: 300px;"></td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-secondary" >{{ 'Add' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de produits trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
