{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h2>{{ product.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <td>{{ product.description|raw|striptags }}</td>
            </tr>
            <tr>
                <td>{{ product.price }} €</td>
            </tr>
            <tr>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <p><img src="{{asset('/uploads/'~ product.image) }}" style="max-width: 300px;"></p>
            </tr>
            <tr>
                <p><a href="{{ path('cart_add', {'id': product.id}) }}"><i class="fas fa-shopping-cart mr-1"></i>Ajouter</a>
                </p>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}" class="btn btn-primary">Retour</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>

{% endblock %}
