{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>{{'user.title' | trans}}</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.city) }}
        {# {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }} #}

        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
